body {
    background-color: #F4DFBA;

      }
   
      hr{
         border-style: dotted none none none;
         border: dotted #FFD39A;
         border-width: 0 0 7px;
        width: 7%;
      }
    
      h3{
        font-size: 34px;

        color:#876445;
        text-shadow: 2px 2px 5px #FFD39A ;
      }
      h3:hover{
            color: #FF8C94 ;
      } 
        img {
        border-radius: 20%;
        width: 250px; height: 278px;
     }
      h1{
        font-size: 40px;

        color:#876445;
         text-shadow: 2px 2px 5px #FFD39A ;
      }
      h1:hover{
        color: #FF8C94 ;
      }
    
      .instagram-media{
        width: 250px; height: 600px;
      }
    .imagen{
      width: 450px; height: 450px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    form{
      background-color: #F4DFBA;
    }
    p{
      font-size: 23px;
  }
  li{
    font-size: 25px;
  }
    
